<h2> About <%= @user_name.to_s.capitalize%></h2>

<h4>=> <strong>Email:</strong> <%= @email %></h4>

<h4>=> <strong>Interests:</strong> <%= @interests.join(", ") %></h4>

<ul>
  <% @users.keys.each do |name| %>
    <% unless name == @user_name %>
    <h3></h3>
      <li>
        <a href=/<%= name %> ><%= name.capitalize %></a>
      </li>
    <% end %>
  <% end %>
</ul>


